$yellow: #ffe600;
$dim-grey: #333;
$gray: #666;
$dark-grey: #999;
$light-grey: #eee;
$blue: #3483fa;
$white: #fff;

$header-background: $yellow;
$background-primary: $white;
$background-secondary: $light-grey;

$input-font-color: $dim-grey;
$input-font-color-secondary: $dark-grey;

$breadcrumb-color-primary: $gray;
$breadcrumb-color-secondary: $dark-grey;

$item-color-primary: $dim-grey;
$item-color-secondary: $dark-grey;

$separator-background: $light-grey;
