$search-bar-height: 40px;
$result-image-size: 180px;

$font-size-tiny: 12px;
$font-size-small: 14px;
$font-size-normal: 18px;
$font-size-large: 24px;

$padding-small: 12px;
$padding-normal: 16px;
$padding-large: 32px;

$medium-break: 900px;
$small-break: 600px;
