@import '../../../styles/colors';

.results-container {
  background-color: $white;
  border-radius: 2px;

  .separator {
    background-color: $separator-background;
    width: 95%;
    margin: 0 auto;
    height: 1px;
  }
}
