<article class="item">
  <section class="item--image">
    <img class="item--image__container" [src]="item.picture" (click)="onClick()">
  </section>

  <section class="item--information">
    <span class="item--information--price">
      {{ item.price.amount | currency: (item.price.currency + ' '): true: '.0' }}
    </span>
    <i *ngIf="item.free_shipping" class="item--information--shipping"></i>

    <h3 class="item--information--title" (click)="onClick()">{{ item.title }}</h3>
  </section>

  <h5 class="item--state">{{ item.state }}</h5>
</article>
