@import '../../../styles/colors';
@import '../../../styles/images';

.header {
  background-color: $header-background;
  height: 60px;
  width: 100%;

  &--logo {
    &::before {
      background: $meli-logo no-repeat;
      content: "";
      float: right;
      height: 36px;
      margin: 10px 15px;
      width: 53px;
    }
  }

  &--search-bar {
    float: right;
    margin-right: 12%;
    margin-top: 10px;
    width: 70%;
  }
}
