@import '../../../styles/colors';
@import '../../../styles/images';

.header {
  background-color: $header-background;
  height: 60px;
  width: 100%;

  &--container {
    margin: 0 auto;
    width: 1024px;

    &--logo {
      cursor: pointer;
      outline: none;

      &::before {
        background: $meli-logo no-repeat;
        content: "";
        float: right;
        height: 36px;
        margin: 10px 15px;
        width: 53px;
      }
    }

    &--search-bar {
      float: right;
      margin-top: 10px;
      width: calc(100% - 83px);
    }
  }
}
