@import '../../../styles/colors';
@import '../../../styles/variables';

.breadcrumb {
  padding: $padding-normal 0;

  &--item {
    color: $breadcrumb-color-primary;
    display: inline-block;
    font-size: $font-size-small;
    padding-left: 4px;

    &:not(:last-child) {
      color: $breadcrumb-color-secondary;

      &::after {
        content: ">";
      }
    }
  }
}
