@import 'styles/colors';

.main-container {
  background-color: $background-secondary;

  .router-container {
    height: 100vh;
    margin: 0 auto;
    max-width: 1024px;
    min-width: 500px;
  }
}
